extends layout

block content
  h1= title
  // p Welcome to #{title}
  table
    tbody
      tr
        td device1:
        td#value1;
      tr
        td device2:
        td#value2;
      tr
        input#range(type='range', name='value', min='0', max='100', value='0');
